body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff8e7;
  color: #333;
  text-align: center;
}

header {
  background-color: #ff9f43;
  padding: 1rem;
  color: white;
}

button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  background-color: #ff6b6b;
  border: none;
  border-radius: 5px;
  color: white;
  transition: 0.3s;
}

button:hover {
  background-color: #ee5253;
}